* {
  text-decoration: none !important;
  list-style: none !important;
  letter-spacing: 2px;
}
a {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --main: #32cdf9;
  --lessmain: #00789a;
  --primary: #0c0c0c;
  --color: #fdfdfd;
  --new: #ffffff09;
}
body {
  background-color: #000 !important;
}

.bg-main {
  background-color: var(--main) !important;
}
.bg-lessmain {
  background-color: var(--lessmain) !important;
}
.bg-primarys {
  background-color: var(--primary) !important;
}
.bg-color {
  background-color: var(--color) !important;
}
.text-main {
  color: var(--main) !important;
}
.text-lessmain {
  color: var(--lessmain) !important;
}
.text-primarys {
  color: var(--primary) !important;
}
.text-color {
  color: var(--color) !important;
}
.border-main {
  border: 2px solid var(--main) !important;
}
.border-lessmain {
  border: 2px solid var(--lessmain) !important;
}
.border-primarys {
  border: 2px solid var(--primary) !important;
}
.border-color {
  border: 2px solid var(--color) !important;
}
.border-black {
  border: 2px solid #000 !important;
}
.widths {
  max-width: 100% !important;
  width: 1700px !important;
}
.myslider {
  height: 80vh !important;
}
.myslider img {
  height: 80vh !important;
}
.absoluter {
  position: absolute;
  top: 63px !important;
  z-index: 99;
}
.zindex {
  position: relative !important;
}
.newtext {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  z-index: 10001;
}
.coverimg {
  position: absolute;
  background-color: #000000d2;
  width: 100vw;
  left: 0;
  top: 0;
  height: 80vh;
}
@media screen and (max-width: 800px) {
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-next {
    display: none !important;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-color: #000000d9;
  z-index: 1000;
}
p {
  word-break: break-all !important;
}

button:active {
  scale: 0.9 !important;
}
.videocover {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(0%,0%) !important;
}
.promovideo {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
  height: 80vh !important;
}
