* {
  text-decoration: none !important;
  list-style: none !important;
}
a {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --main: #7507fe;
  --lessmain: #7607fe62;
  --primary: #f3f3f3;
  --color: #fdfdfd;
  --new: #ffffff09;
}
body {
  background-color: #fff !important;
}

.bg-main {
  background-color: var(--main) !important;
}
.bg-lessmain {
  background-color: var(--lessmain) !important;
}
.bg-primarys {
  background-color: var(--primary) !important;
}
.bg-color {
  background-color: var(--color) !important;
}
.text-main {
  color: var(--main) !important;
}
.text-lessmain {
  color: var(--lessmain) !important;
}
.text-primarys {
  color: var(--primary) !important;
}
.text-color {
  color: var(--color) !important;
}
.border-main {
  border: 2px solid var(--main) !important;
}
.border-lessmain {
  border: 2px solid var(--lessmain) !important;
}
.border-primarys {
  border: 2px solid var(--primary) !important;
}
.border-color {
  border: 2px solid var(--color) !important;
}
.border-black {
  border: 2px solid #000 !important;
}
.widths {
  max-width: 100% !important;
  width: 1700px !important;
}
.myslider {
  height: 80vh !important;
}
.myslider img {
  height: 80vh !important;
}
.absoluter {
  position: absolute;
  top: 63px !important;
  z-index: 99;
}
.zindex {
  position: relative !important;
}
.newtext {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  z-index: 10001;
}
.coverimg {
  position: absolute;
  background-color: #f3f3f3ea;
  width: 100vw;
  left: 0;
  top: 0;
  height: 80vh;
}
@media screen and (max-width: 800px) {
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-button-next {
    display: none !important;
  }
  .myslider {
    height: 60vh !important;
  }
  .myslider img {
    height: 60vh !important;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-color: #f3f3f394;
  z-index: 1000;
}
p {
  word-break: break-all !important;
}

button:active {
  scale: 0.9 !important;
}

.promovideo {
  position: absolute;
  top: 0% !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
  height: 80vh !important;
  z-index: 1 !important;
}
.Videoshowblock {
  position: relative;
  z-index: 1000 !important;
}

.buttonvover {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  z-index: 100000;
  transform: translate(-50%, -50%) !important;
}
.shadows {
  text-shadow: 0px 0px 5px #0000008d;
}
.iconimg {
  width: 100px !important;
}
.mynavbarimg {
  width: 65px;
}
.backgroudnpara {
  background-image: url("./components//media/photo-1419242902214-272b3f66ee7a.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.swiper-pagination-bullets {
  transform: translateY(100px);
}
.imgde {
  position: absolute;
  top: -5vh !important;
  left: 50% !important;
  transform: translate(-50%, 0%);
}
.filterr {
  filter: grayscale(100%) !important;
  transition: 0.4s ease;
}
.filterr:hover {
  filter: grayscale(0) !important;
  transform: scale(1.1);
}
.marginset {
  margin-top: 75px !important;
}
@media screen and (max-width: 800px) {
  .filterr {
    height: 40vh !important;
  }
  .marginset {
    margin-top: 60px !important;
  }
}
.sew {
  position: fixed !important;
  z-index: -10 !important;
}
.der {
  position: fixed !important;
  z-index: 11110 !important;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}